@charset "UTF-8";


@media screen and (max-width: 450px){
    header{
        min-width: 300px;
        max-width: 450px;
    }
    .list-link-cont{
        display: none !important;
    }
    .mobile-menu-icon{
        display: block;
        float: right;
        align-self: flex-end;
        margin-right: 20px;
       
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    } 
    .div-menu-mobile{
        display: block;
        flex-direction: column;
        padding: 1rem;
        width: 150px;
        border-radius: 5px;
        align-self: flex-end;
        border: 1px solid #fff;
        float: right;
        z-index: 1;
    }
    .div-menu-mobile ul{
        list-style: none;
        padding: 7px 0px;
    }
    .div-menu-mobile li{
        color: #fff;
        padding-top: 10px;
       
    }
    .div-menu-mobile a{
        text-decoration: none;
        color: #fff;
    }
    .inputs{
       padding: 10px;
    
    }


}
@media screen and (max-width: 600px){
    header{
        min-width: 300px;
        max-width: 450px;
    }
    .list-link-cont{
        display: none !important;
    }
    .mobile-menu-icon{
        display: block;
        float: right;
        align-self: flex-end;
        margin-right: 20px;
       
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    } 
    .div-menu-mobile{
        display: none;
        flex-direction: column;
        padding: 1rem;
        width: 150px;
        border-radius: 5px;
        align-self: flex-end;
        border: 1px solid #fff;
        float: right;
        z-index: 3;
        transition: 1s;
    }
    .div-menu-mobile ul{
        list-style: none;
        padding: 7px 0px;
    }
    .div-menu-mobile li{
        color: #fff;
        padding-top: 10px;
       
    }
    .div-menu-mobile a{
        text-decoration: none;
        color: #fff;
    }
    .open{
        display: block;
    }
 


}



