<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page 0.1</title>
</head>
<body>
    <header>
        <nav class="nav-list-bar">
            <div class="logo">
                <h1>ARTCH COMPANY</h1>
            </div>
            <div class="nav-bar-link">
                <ul>
                    <li class="list-link-cont"><a href="#" class="a-link">HOME</a></li>
                    <li class="list-link-cont"><a href="#" class="a-link">ABOUT US</a></li>
                    <li class="list-link-cont"><a href="#" class="a-link">GALERY</a></li>
                    <li class="list-link-cont"><a href="#" class="a-link">CONTACT</a></li>
                </ul>
            </div>
        </nav>
        
    </header>
    <main>
        <article>

        </article>
        <figure>
            <img src="" alt="">
        </figure>
    </main>
    <script src="indexV0.1.js"></script>
    
</body>
</html>