<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page 0.1</title>
    <link rel="stylesheet" href="../styles/stiloVersao0.1.css">
    <link rel="stylesheet" href="../styles/mediaV0.1.css">
    <link rel="stylesheet" href="../styles/mediaV0.1.css">
    <link rel="stylesheet" href="../styles/menuMoblie.css">
   
</head>
<body>
    <header>
        <nav class="nav-list-bar">
            <div class="logo">
                <h1>ARTCH COMPANY</h1>
            </div>
            <div class="nav-bar-link">
                <ul>
                    <li class="list-link-cont"><a href="#" class="a-link l" >HOME</a></li>
                    <li class="list-link-cont"><a href="#" class="a-link l">ABOUT US</a></li>
                    <li class="list-link-cont"><a href="#" class="a-link l">GALERY</a></li>
                    <li class="list-link-cont"><a href="#" class="a-link" id="home">CONTACT</a></li>
                </ul>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="openMenu()"><img  class="icon" src="../images/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
        <div class="div-menu-mobile">
            <ul>
                <li class="li-mobile"><a href="#" class="a-molile" >HOME</a></li>
                <li class="li-mobile"><a href="#" class="a-molile">ABOUT US</a></li>
                <li class="li-mobile"><a href="#" class="a-molile">GALERY</a></li>
                <li class="li-mobile"><a href="#" class="a-molile">CONTACT</a></li>
            </ul>

        </div>
    </header>

    <script src="indexV0.1.js"></script>
    
</body>
</html>